#root > div {
  display: flex;
  height: 100vh;
}


.left-scene {
  flex: 0 0 60%;
  position: sticky;
  display: flex;
  flex-direction: column;

  .form-search {
    padding: 60px 60px 60px 120px;
    border: none;
    font-family: 'VT323', monospace;
    font-size: 2.6em;
    text-transform: uppercase;
    box-shadow: none;
    &:focus {
      box-shadow: none;
    }
  }

  &:before {
    content: '\F002';
    position: absolute;
    top: 42px;
    left: 60px;
    font-family: FontAwesome;
    font-size: 2.2em;
    opacity: 0.4;
  }

  .selected-gif {
    text-align: center;
    display: flex;
    flex-grow: 1;
    height: calc(100vh - 232px);
    background:#ffc600;


    .gif {
      max-width: 90%;
      max-height: 90%;
      margin: auto;
      box-shadow: 0 50px 100px rgba(50,50,93,.1), 0 15px 35px rgba(50,50,93,.15), 8px 9px 18px rgba(0,0,0,1);
    }
  }
}

.right-scene {
  flex: 0 0 40%;
  background-color: black;
  overflow-y: scroll;

  .gif-list {
    column-count: 2;
    column-gap: 5px;
    padding: 5px;

    .gif {
      width: 100%;
      margin: 5px;
      cursor: pointer;
    }
  }
}
